<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交信息</title>
</head>
<body>
    <form action="/user/form/post" method="post">
        <input type="text" name="name" placeholder="名称" maxlength="20">
        <input type="number" name="age" placeholder="年龄" maxlength="20">
        <input type="text" name="address" placeholder="地址" maxlength="20">
        <input type="text" name="mobile" placeholder="手机" maxlength="20">
        <select name="sex">
            <option>选择性别</option>
            <option value="male">男</option>
            <option value="female">女</option>
        </select>
        <br>
        <button type="submit">提交</button>
    </form>
</body>
</html>